# Python
__pycache__/
*.pyc

# Virtual Environment
venv/
.venv/
env/
.env

# Secret Files
token.json
credentials.json

# Knowledge Directory
knowledge/*
!knowledge/dummy.txt  # ダミーファイルを除外しない
!knowledge/README.md  # READMEファイルを除外しない