# Python
__pycache__/
*.pyc

# Virtual Environment
venv/
.venv/
env/
.env

# Secret Files
token.json
credentials.json

# Knowledge Directory
knowledge/**
!knowledge/dummy.txt
!knowledge/README.md